header {
  overflow: auto;
  background: $color-background;
  img {
    @extend %l-float;
    width: 75px;
    vertical-align: middle;
    margin: 32px 0 30px 20px;
  }
}

nav {
  @extend %r-float;
  ul li {
  @extend %l-float;
  list-style: none;
  margin: 20px;
    &:hover {
      color: $color-main-red;
      cursor: pointer;
    }
  }
}
